WcfService5-CurrencyConvertor/WcfService5-CurrencyConvertor/Web References/webRefConvertor/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetChannelCategory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="knownCategoryValues" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="category" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChannelCategoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetChannelCategoryResult" type="tns:ArrayOfCascadingDropDownNameValue" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCascadingDropDownNameValue">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CascadingDropDownNameValue" nillable="true" type="tns:CascadingDropDownNameValue" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CascadingDropDownNameValue">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="value" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="isDefaultValue" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="optionTitle" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetChannelForChannelCategory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="knownCategoryValues" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="category" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChannelForChannelCategoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetChannelForChannelCategoryResult" type="tns:ArrayOfCascadingDropDownNameValue" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConvertGOOG">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="fromCurrency" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="toCurrency" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConvertGOOGResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ConvertGOOGResult" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ArrayOfCascadingDropDownNameValue" nillable="true" type="tns:ArrayOfCascadingDropDownNameValue" />
      <s:element name="decimal" type="s:decimal" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetChannelCategorySoapIn">
    <wsdl:part name="parameters" element="tns:GetChannelCategory" />
  </wsdl:message>
  <wsdl:message name="GetChannelCategorySoapOut">
    <wsdl:part name="parameters" element="tns:GetChannelCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="GetChannelForChannelCategorySoapIn">
    <wsdl:part name="parameters" element="tns:GetChannelForChannelCategory" />
  </wsdl:message>
  <wsdl:message name="GetChannelForChannelCategorySoapOut">
    <wsdl:part name="parameters" element="tns:GetChannelForChannelCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="ConvertGOOGSoapIn">
    <wsdl:part name="parameters" element="tns:ConvertGOOG" />
  </wsdl:message>
  <wsdl:message name="ConvertGOOGSoapOut">
    <wsdl:part name="parameters" element="tns:ConvertGOOGResponse" />
  </wsdl:message>
  <wsdl:message name="GetChannelCategoryHttpGetIn">
    <wsdl:part name="knownCategoryValues" type="s:string" />
    <wsdl:part name="category" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetChannelCategoryHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfCascadingDropDownNameValue" />
  </wsdl:message>
  <wsdl:message name="GetChannelForChannelCategoryHttpGetIn">
    <wsdl:part name="knownCategoryValues" type="s:string" />
    <wsdl:part name="category" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetChannelForChannelCategoryHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfCascadingDropDownNameValue" />
  </wsdl:message>
  <wsdl:message name="ConvertGOOGHttpGetIn">
    <wsdl:part name="amount" type="s:string" />
    <wsdl:part name="fromCurrency" type="s:string" />
    <wsdl:part name="toCurrency" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConvertGOOGHttpGetOut">
    <wsdl:part name="Body" element="tns:decimal" />
  </wsdl:message>
  <wsdl:message name="GetChannelCategoryHttpPostIn">
    <wsdl:part name="knownCategoryValues" type="s:string" />
    <wsdl:part name="category" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetChannelCategoryHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfCascadingDropDownNameValue" />
  </wsdl:message>
  <wsdl:message name="GetChannelForChannelCategoryHttpPostIn">
    <wsdl:part name="knownCategoryValues" type="s:string" />
    <wsdl:part name="category" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetChannelForChannelCategoryHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfCascadingDropDownNameValue" />
  </wsdl:message>
  <wsdl:message name="ConvertGOOGHttpPostIn">
    <wsdl:part name="amount" type="s:string" />
    <wsdl:part name="fromCurrency" type="s:string" />
    <wsdl:part name="toCurrency" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConvertGOOGHttpPostOut">
    <wsdl:part name="Body" element="tns:decimal" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="GetChannelCategory">
      <wsdl:input message="tns:GetChannelCategorySoapIn" />
      <wsdl:output message="tns:GetChannelCategorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetChannelForChannelCategory">
      <wsdl:input message="tns:GetChannelForChannelCategorySoapIn" />
      <wsdl:output message="tns:GetChannelForChannelCategorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConvertGOOG">
      <wsdl:input message="tns:ConvertGOOGSoapIn" />
      <wsdl:output message="tns:ConvertGOOGSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebServiceHttpGet">
    <wsdl:operation name="GetChannelCategory">
      <wsdl:input message="tns:GetChannelCategoryHttpGetIn" />
      <wsdl:output message="tns:GetChannelCategoryHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetChannelForChannelCategory">
      <wsdl:input message="tns:GetChannelForChannelCategoryHttpGetIn" />
      <wsdl:output message="tns:GetChannelForChannelCategoryHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ConvertGOOG">
      <wsdl:input message="tns:ConvertGOOGHttpGetIn" />
      <wsdl:output message="tns:ConvertGOOGHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebServiceHttpPost">
    <wsdl:operation name="GetChannelCategory">
      <wsdl:input message="tns:GetChannelCategoryHttpPostIn" />
      <wsdl:output message="tns:GetChannelCategoryHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetChannelForChannelCategory">
      <wsdl:input message="tns:GetChannelForChannelCategoryHttpPostIn" />
      <wsdl:output message="tns:GetChannelForChannelCategoryHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ConvertGOOG">
      <wsdl:input message="tns:ConvertGOOGHttpPostIn" />
      <wsdl:output message="tns:ConvertGOOGHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetChannelCategory">
      <soap:operation soapAction="http://tempuri.org/GetChannelCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChannelForChannelCategory">
      <soap:operation soapAction="http://tempuri.org/GetChannelForChannelCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertGOOG">
      <soap:operation soapAction="http://tempuri.org/ConvertGOOG" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetChannelCategory">
      <soap12:operation soapAction="http://tempuri.org/GetChannelCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChannelForChannelCategory">
      <soap12:operation soapAction="http://tempuri.org/GetChannelForChannelCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertGOOG">
      <soap12:operation soapAction="http://tempuri.org/ConvertGOOG" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceHttpGet" type="tns:WebServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetChannelCategory">
      <http:operation location="/GetChannelCategory" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChannelForChannelCategory">
      <http:operation location="/GetChannelForChannelCategory" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertGOOG">
      <http:operation location="/ConvertGOOG" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceHttpPost" type="tns:WebServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetChannelCategory">
      <http:operation location="/GetChannelCategory" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChannelForChannelCategory">
      <http:operation location="/GetChannelForChannelCategory" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertGOOG">
      <http:operation location="/ConvertGOOG" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://devapps.gemfind.net/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://devapps.gemfind.net/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceHttpGet" binding="tns:WebServiceHttpGet">
      <http:address location="http://devapps.gemfind.net/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceHttpPost" binding="tns:WebServiceHttpPost">
      <http:address location="http://devapps.gemfind.net/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>