WcfService3 - FinanceData/FinanceData - TryIt/Service References/ServiceReference2/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1229/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1229/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetMicrosoftData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMicrosoftData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMicrosoftData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMicrosoftDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAppleData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAppleData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAppleData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAppleDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetIntelData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIntelData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetIntelData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIntelDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetYahooData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetYahooData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetYahooData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetYahooDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetMicrosoftData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetMicrosoftData" message="tns:IService1_GetMicrosoftData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetMicrosoftDataResponse" message="tns:IService1_GetMicrosoftData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAppleData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAppleData" message="tns:IService1_GetAppleData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAppleDataResponse" message="tns:IService1_GetAppleData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIntelData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetIntelData" message="tns:IService1_GetIntelData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetIntelDataResponse" message="tns:IService1_GetIntelData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetYahooData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetYahooData" message="tns:IService1_GetYahooData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetYahooDataResponse" message="tns:IService1_GetYahooData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMicrosoftData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetMicrosoftData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAppleData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAppleData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIntelData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetIntelData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetYahooData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetYahooData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:1229/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>